@media (min-width: 768px) {
    .title {
        font-size: 20px;
        padding: 21px 0;
    }
    .title::after,
    .title::before {
        width: 70px;
        height: 12px;
    }
    .header__banner-promo {
        display: flex;
        height: 14px;

    }

    .header__banner-promo-2 {
        display: none;
    }
    .head {
        min-height: 456px;
    }
    .head .banner-top__title {
        font-size: 23px;
        line-height: 32px;
    }
    .head .banner-top__text {
        font-size: 15px;
        line-height: 22px;
        padding-top: 5px;
        width: 205px;
    }
    .banner-top__slider-prev {
        margin-bottom: -1px;
        margin-left: -85px;
    }
    .top-slider__img {
        min-height: 456px;
        object-position: 53%;
    }
    .top-slider.owl-theme .owl-dots .owl-dot.active span,
    .top-slider.owl-theme .owl-dots .owl-dot span {
        width: 12px;
        height: 12px;
    }
    .top-slider.owl-theme .owl-dots .owl-dot span {
       margin:0 8px 9px 0 ;
    }

    .top-section {
        flex-direction: column-reverse;
    }

    .header__inner {
        min-height: 38px;
    }

    .basket__menu-count {
        top: 5px;
        left: 1px
    }
    .login__link {
        font-size: 21px;
        top: 6px;
        right: 62px;
        display: inherit;
    }
    .products > .owl-stage-outer {
        margin-top: -47px;
    }

    .product__item-btns-wrap {
        width: 360px;
    }
    .main__icon {
        margin: 0 auto 30px;
    }
    .main__icon-img {
        background-image: url("../img/icon-main-tab.png");
        width: 129px;
        height: 30px;
        bottom: 0;
        left: 13px;
    }
    .insta-main {
        margin: 0 auto;
        max-width: 768px;
    }
    .footer__tab,
    .grid__container-wrapper {
        max-width: 768px;
        margin: auto;
    }

    .grid__container-wrapper {
        padding: 0 18px;
    }

    .grid__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 445px 445px 445px;
        grid-template-areas:
            "box-1 box-1 box-1 box-1 box-2 box-2 box-2 box-2"
            "box-3 box-3 box-3 box-3 box-3 box-4 box-4 box-4"
            "box-5 box-5 box-5 box-6 box-6 box-6 box-6 box-6";
        grid-column-gap: 30px;
        grid-row-gap: 20px;
    }

    .grid__box {
        display: grid;
        justify-content: center;
        align-content: center;
        font-size: 34px;
        font-weight: 400;
        color: #FFFFFF;
        background-size: cover;
        transition: 0.4s all;
    }

    .grid__box:hover {
        opacity: 1;
    }

    .box-1 {
        grid-area: box-1;
        background-image: url("../img/grid-pic-1.png");
    }

    .box-2 {
        grid-area: box-2;
        background-image: url("../img/grid-pic-2.png");
    }

    .box-3 {
        grid-area: box-3;
        background-image: url("../img/grid-pic-3.png");
    }

    .box-4 {
        grid-area: box-4;
        background-image: url("../img/grid-pic-4.png");
    }

    .box-5 {
        grid-area: box-5;
        background-image: url("../img/grid-pic-5.png");
    }

    .box-6 {
        grid-area: box-6;
        background-image: url("../img/grid-pic-6.png");
    }

    .footer__wrapper {
        display: flex;
        height: 38px;
    }

    .footer__main-2 {
        display: inherit;
    }

    .footer__main {
        display: none;
    }

    .footer__mobile {
        display: none;
    }
    .product__item-total {
        width: 330px;
    }

    @keyframes showBasket {
        0% {
            z-index: 0;
        }
        100% {
            z-index: 1001;
            transform: translateX(60%);
            display: block;
        }
    }


}